@font-face {
  font-family: "pat";
  src: url(../fonts/PatrickHand/PatrickHand-Regular.ttf); }

html {
  font-size: 10px;
  box-sizing: border-box; }

body {
  font-family: pat; }

header {
  background-color: black;
  color: gray;
  display: grid;
  grid-template-columns: auto;
  padding: 2.5rem; }

#title {
  font-size: 3rem;
  text-align: left; }

body {
  font-size: 2.5rem;
  background-color: darkslategray;
  color: white; }

.imgcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.imgcontainer > img {
  margin-bottom: 10px; }

form {
  font-size: 2rem;
  padding: 1.5rem;
  margin: 2rem 1.5rem 2rem 1.5rem;
  text-align: center; }

.error {
  color: red; }

footer {
  max-width: 100%;
  height: auto; }

.top {
  margin-left: 2.5rem;
  text-align: center; }

.glogo {
  margin-left: 2.5rem; }

@media screen and (max-width: 575px) {
  header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center; }
  #title {
    text-align: center; } }
