@font-face {
  font-family: "pat";
  src: url(../fonts/PatrickHand/PatrickHand-Regular.ttf); }

html {
  font-size: 10px;
  box-sizing: border-box; }

body {
  font-family: pat; }

header {
  font-size: 2.5rem;
  background-color: black;
  color: gray;
  display: grid;
  grid-template-columns: auto;
  text-align: center;
  padding: 1.5rem; }

.h1 {
  font-size: 4rem; }

ul > li {
  color: white; }

body {
  font-size: 2rem;
  background-color: darkslategray;
  color: white; }

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

form {
  padding: 1.5rem;
  margin: 2rem 1.5rem 2rem 1.5rem;
  text-align: center; }
